ARGS="--config.file=/etc/prometheus/config.yml --web.external-url=https://{{ prometheus_domain }} --web.enable-lifecycle --web.enable-admin-api --web.console.templates=/etc/prometheus/consoles --web.console.libraries=/etc/prometheus/console_libraries --storage.tsdb.path=/var/lib/prometheus --storage.tsdb.retention.time={{ prometheus_tsdb_retention_time }}"
