[Unit]
Description=Prometheus
{% if prometheus_installation == 'docker' %}

Wants=docker.service
After=docker.service
{% endif %}

[Service]
Restart=always
RestartSec=10s

EnvironmentFile=/etc/environment
{% if prometheus_installation == 'docker' %}

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/prometheus \
{% if prometheus_memory_limit | default(false) %}
  --memory {{ prometheus_memory_limit }} \
{% endif %}
{% if prometheus_memory_swap | default(false) %}
  --memory-swap {{ prometheus_memory_swap }} \
{% endif %}
{% if prometheus_memory_soft_limit | default(false) %}
  --memory-reservation {{ prometheus_memory_soft_limit }} \
{% endif %}
{% if prometheus_cpu_shares | default(false) %}
  --cpu-shares {{ prometheus_cpu_shares }} \
{% endif %}
{% if prometheus_number_of_cpus | default(false) %}
  --cpus {{ prometheus_number_of_cpus }} \
{% endif %}
{% for item in prometheus_default_labels + prometheus_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if prometheus_network | default(false) %}
  --network {{ prometheus_network }} \
{% endif %}
  --volume /etc/prometheus/config.yml:/etc/prometheus/config.yml \
{% for item in prometheus_default_volumes + prometheus_extra_volumes %}
  --volume {{ item }} \
{% endfor %}
{% for item in prometheus_default_publish + prometheus_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  --health-cmd 'wget -q --spider http://localhost:9090/' \
  --health-interval 30s \
  --health-retries 5 \
  --health-timeout 10s \
  {{ prometheus_image }} \
  --config.file=/etc/prometheus/config.yml \
  --web.external-url={{ prometheus_domain }} \
{% if prometheus_tsdb_retention_time | default(false) %}
  --storage.tsdb.retention.time={{ prometheus_tsdb_retention_time }} \
{% endif %}
{% if prometheus_tsdb_retention_size | default(false) %}
  --storage.tsdb.retention.size={{ prometheus_tsdb_retention_size }} \
{% endif %}
{% if prometheus_enable_remote_write_receiver | default(false) %}
  --web.enable-remote-write-receiver \
{% endif %}
  --web.enable-lifecycle \
  --web.enable-admin-api \
  --web.console.templates=/etc/prometheus/consoles \
  --web.console.libraries=/etc/prometheus/console_libraries
{% else %}
EnvironmentFile=/etc/default/prometheus

User=prometheus
Group=prometheus

ExecStart=/usr/bin/prometheus $ARGS
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStopSec=20s
SendSIGKILL=no
{% endif %}

[Install]
WantedBy=multi-user.target
